* {
    font-family: lato;
}

body {
  background-color: rgb(2, 0, 0);
  color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cadastrados {
    display: flex;
    margin-top: 30px;
}

h1 {
    background-color: rgb(116, 7, 7);
    padding: 10px;
    border-radius: 8px;
}

#formulario {
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
}

#formulario input {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid #d82727;  
  padding: 8px;
  border-radius: 4px;
  margin: 5px;
}

footer {
  background-color: rgb(116, 7, 7);
  color: rgb(255, 255, 255);

}

#table {
  margin-bottom: 900px;
}